* {
  font-family: sans-serif;
}

#name {
  color: grey;
  font-size: 3em;
}

button {
  font-size: 40px;
  width: 40px;
}

input[type='submit'] {
  font-size: 40px;
  width: 40px;
}

input.auto_size {
  width: auto;
  font-size: 1em;
}
